

.topbar ul{
     list-style: none;
     display: inline;
}

.topbar{
    background-color: #121e29;
}

.topbar a{
     text-decoration: none;
     color: gray;
     font-size: 12px;
     margin-left: 3px;
}


.topbar li{
     display: inline;
     text-align: center;
}

.bottombar ul{
     list-style: none;
}

.bottombar li{
     display: inline;
     border: 6px navy solid;
     background: navy;
     border-radius: 5px;
}

.bottombar li:hover{
    background-color: orange;
    border: 6px orange solid;
}

.bottombar a{
     text-decoration: none;
     color: white;
     font-family: "Fjalla One",sans-serif;
}

.bottombar img{
    margin-bottom: 10px;
    margin-top: 10px;
}

.logo{
    position: relative;
}
.logo a{
    position: absolute;
    top: 341px;
    left: 110px;
    text-decoration: none;
    border: 11px orange solid;
    border-radius: 5px;
    background-color: orange;
    color: white;
    font-family: "Fjalla One", sans-serif;
}

.motto a{
    text-decoration: none;
    border: 5px #101a21 solid;
    border-radius: 5px;
    background-color: #101a21;
    color: white;
    font-family: "Fjalla One", sans-serif;
}

.motto a:hover{
    border: 5px orange solid;
    background-color: orange;
}

.motto h2{
    font-size: 50px;
    font-family: "Fjalla One", sans-serif;
}

.motto p{
    font-size: 20px;
    font-family: "Fjalla One",sans-serif;
}

.motto{
     margin-bottom: 30px;
     margin-top: 30px;
}

.lower{
    background: #325373;
    background: linear-gradient(to bottom, #325373 0%,#101a21 100%);
    color: white;
}
.menu{
    background-color: #101a21;
}
.lower ul{
    list-style:url(listdot.jpg);
    padding: 0;
    font-family: "Fjalla One",sans-serif;
}

.lower li{
    line-height: 25px;
    color: white;
    clear: both;
    padding: 0;
    font-family: "Fjalla One",sans-serif;
}

.lower a{
    text-decoration: none;
    color: white;
    position: relative;
    top: 0px;
    font-family: "Fjalla One", sans-serif;
    
}
.lower a:hover{
    color: orange;
}

.lower img{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.more{
    color: white;    
    border: 6px solid #101a21;
    background-color: #101a21;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    bottom: 5px;
}

.lower p:hover{
    color: orange;
    cursor: pointer;
}

.footer{
    background-color: gray;
    color: white;
}

.lower2 ul{
    list-style-image: url(listdot2.jpg);
}

.lower3 ul{
    list-style: none;
    padding: 0;
    clear: both;
    font-family: "Fjalla One", sans-serif;
}

.bottom{
    background: #325373;
    background: -moz-linear-gradient(top, #325373 0%, #101a21 100%);
    background: -webkit-linear-gradient(top, #325373 0%,#101a21 100%);
    background: linear-gradient(to bottom, #325373 0%,#101a21 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#325373', endColorstr='#101a21',GradientType=0 );
    padding-bottom: 40px;
}

.privacy{
    background: gray;
    padding-bottom: 20px;
}

